<ion-header>
  <ion-toolbar>
    <ion-title>Link up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>
          <h5 color="primary">Lets give the link up a name.</h5>

          <ion-input></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 color="primary"> Now lets add some crew members.</h5>
        <ion-input ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Tammy Blesh</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Shamone Reid</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Megan Walker</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Jamelia Ingram</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Shelly Lewis</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
