<ion-content [fullscreen]="true">
  
  

  <div style="margin-top: 40px;">
    <ion-row>
      <ion-col class="ion-text-center Logo" style="font-size: 60px; color: #3171e0;  font-style: 'Brush Script MT !important';">GoOut </ion-col>
    </ion-row>
  </div>



 
      <div>
        <img  src='../../../assets/Pics/slide-4.jpg' />
       
        <p> <b></b> Plan a link up with your crew.</p>
      </div>

<div class="buttons">
        <ion-row>
        <ion-button color="primary"> Create Plan</ion-button>
        <ion-button fill="outline" color="primary" > See All</ion-button>
      </ion-row>
</div>

   

  


</ion-content>
