<!-- Default back button -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>GoOut</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white !important;">

  <ion-grid>

    <ion-row class="followRow">
      <ion-col>
        Followers <br>
        245k
      </ion-col>

      <ion-col>
        Following <br>
        8 
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col >
        <ion-icon name="person-add-outline"  color="primary"></ion-icon>
        <br>
        <ion-icon name="notifications-outline" color="primary"></ion-icon>
      </ion-col>

      <ion-col ion-grid-column-padding-lg>
        <ion-avatar>
           <ion-img [src]="imageUrl"></ion-img>
        </ion-avatar>
         
        
      </ion-col>

     <ion-col>
        <ion-icon name="chatbox-outline" color="primary"></ion-icon>
        <br>
        <ion-icon name="logo-facebook" color="primary"></ion-icon>
      </ion-col>


    </ion-row>


    <ion-row>
      <ion-col>
          <h4>Shamone Reid</h4>
          
          <p> I want to go to love soca tonight. Some one buy me a ticket or two :)</p>
      </ion-col>
    </ion-row>


  </ion-grid>

<ion-row>

</ion-row>
  <div padding>
    <ion-segment [(ngModel)]="userChoices">
      <ion-segment-button value="gallery">Gallery</ion-segment-button>
        <ion-segment-button value="upcoming">Upcoming</ion-segment-button>
        <ion-segment-button value="crew">crew</ion-segment-button>

    </ion-segment>
</div>



<!--
  Setup ionic segment using ngswitch
  which will  allow use to naviagte between the three segments
-->
    <div [ngSwitch]="userChoices">


          <!-- Setup up what happens when the user clicks gallery button-->
          <ion-list *ngSwitchCase="'gallery'">

            <ion-grid>
              <ion-row>
                  <ion-col  col-12 col-md-6 col-xl-3>
      
                      <ion-card >
                        <ion-img [src]="party1Url"></ion-img>
      
                      </ion-card>
      
                  </ion-col>
      
      
                  <ion-col  col-12 col-md-6 col-xl-3>
      
                    <ion-card >
                      <ion-img [src]="party2Url"></ion-img>
    
                    </ion-card>
    
                </ion-col>


                <ion-col  col-12 col-md-6 col-xl-3>
      
                  <ion-card >
                    <ion-img [src]="party3Url"></ion-img>
  
                  </ion-card>
  
              </ion-col>

              </ion-row>
          </ion-grid>
          </ion-list>




          <!-- Setup up what happens when the user clicks upcomingbutton-->
          <ion-list *ngSwitchCase="'upcoming'">
           
           
            
      
          </ion-list>



          <!-- Setup up what happens when the user clicks crew button-->
          <ion-list *ngSwitchCase="'crew'">
            

        <ion-card>

          <ion-item>
              <ion-avatar item-start>
                <ion-img [src]="image2Url"></ion-img>
              </ion-avatar>
              <h5 class="crew-name">Crew Member</h5>

              <ion-icon name="person-add-outline"></ion-icon>
                 
             
          </ion-item>

       <!--  <ion-card-content>
            34k Followers
            456 Following
          </ion-card-content>
         --> 
        

      </ion-card>


          </ion-list>



    </div>

</ion-content>
