.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
      height: 200px;
      width: 200px;
      border: .1px solid grey;
      margin-right: 10px;
      border-radius: 20px;
    }
  }


  .map{
    height:100%;
  }

  #hiddenMap{
   visibility: hidden;
  }