#container{
    margin-top: 37%;
}
#registerText{
    font-size: 14px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    color: #ffffff;
    font-style: italic;
  }
.singleLogo{
    font-family: 'Brush Script MT';
    font-size: 20px;
}  
ion-item,ion-input{
    size: 35px !important;
    font-size: 12px;
    height: 35px !important;
    margin-bottom: 10px !important;
  }
ion-row{
    margin-top: 0px;
    margin-bottom: 0px;
}
#loginText{
    font-size: 10px;
    margin-top: 0px !important;
    padding-top: 0px !important;
}
#submitButton{
    margin-bottom: 0px !important;
}
ion-button{
    height: 35px !important;
    background-color: #2AC940 !important;
    font-size: 11px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    font-style: normal;
  }
.Logo{
    font-family: 'Brush Script MT';
    font-size: 40px;
  }
.gold{
    color: #f3ca3e;
  }
.white{
    color: #ffffff;
  }
  .green{
    color: #2AC940;
  }