<ion-header>
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="container" class="Login">
    <ion-row>
      <ion-col>
        <h3 class="Logo"><span class="gold">G</span><span class="green">o</span><span class="white">O</span><span class="green">u</span><span>t</span><span class="green">!</span></h3>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <div>
              <ion-item>
                <ion-input  placeholder="Email address " type="text" size="8px" inputmode="text" [(ngModel)]="user.email"></ion-input>
              </ion-item>
      
              <ion-button color="#2AC940" id="submitButton" expand="full" (click)="getNewpassword()"><span id="submitText" >Get new Password</span></ion-button>
              <ion-button color="#2AC940" id="submitButton" expand="full"  (click)="goToLogin()"><span id="submitText">Login</span></ion-button>
            </div>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
       </ion-col>

       </ion-row>

       </div>
</ion-content>
