

<ion-content>
  <div id="container" class="ion-text-center">
    <ion-row>
      <ion-col>
        <h6 id="errors"></h6>
        <h3 class="Logo"><span class="gold">G</span><span class="green">o</span><span class="white">O</span><span class="green">u</span><span>t</span><span class="green">!</span></h3>
        <h6 id="registerText">Register for a <span  class="singleLogo"><span class="gold">G</span><span class="green">o</span><span class="white">O</span><span class="green">u</span><span>t</span></span> Account!</h6>
      </ion-col>
    </ion-row>
      <ion-row id="nameRow">
        <ion-col></ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-input  placeholder="First Name" type="text" size="8px" inputmode="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-input  placeholder="Last Name" type="text" size="8px" inputmode="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <div>
          <ion-item>
            <ion-input  placeholder="Email address or username" type="text" size="8px" inputmode="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input  placeholder="Password" type="password" size="8px" inputmode="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input  placeholder="Confirm Password" type="password" size="8px" inputmode="password"></ion-input>
          </ion-item>
          <ion-button color="#2AC940" id="submitButton" expand="full"><span id="submitText">Sign Me Up!</span></ion-button>
        </div>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="12">
            <p class="ion-text-start" id="loginText" >Already have a <span><span class="gold">G</span><span class="green">o</span><span class="white">O</span><span class="green">u</span><span>t</span></span> Account? <a (click)="goToLogin()">Login Instead</a>. </p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
      <ion-col></ion-col>
      
    </ion-row>
  </div>
</ion-content>
